*{
    margin:0;
    padding:0;
}
body {
    font:14px/1.3 Arial,sans-serif;
    background-color:#dbc9c9;
}
header {
    background-color:#534444;
    box-shadow: 0 -1px 2px #332929;
    color:#fff;
    display:block;
    height:70px;
    position:relative;
    width:100%;
    z-index:100;
}
header h2{
    font-size:22px;
    font-weight:normal;
    left:50%;
    margin-left:-400px;
    padding:22px 0;
    position:absolute;
    width:540px;
}
header a.stuts,a.stuts:visited{
    border:none;
    text-decoration:none;
    color:#fcfcfc;
    font-size:14px;
    left:50%;
    line-height:20px;
    margin:23px 0 0 110px;
    position:absolute;
    top:0;
}
header .stuts span {
    font-size:22px;
    font-weight:bold;
    margin-left:5px;
}
.container {
    height: 10px;
    margin: 30px auto;
    width: 100%px;
    background-color: rgb(73, 60, 57);
}

.neb{
    font-size: 4vh;
    margin-top: 400vh;
}

body{
    animation: animate 20s ease-in-out infinite;
    background-size:cover;
    background-position:alternate;
    background-origin: border-box;
    width:100%;
    height: 100%;
    background-repeat:no-repeat;
    animation-duration: 20s;
    transition: 1s;
    animation-timing-function: ease-in-out;
    
}
@keyframes animate{
    0%{
        background-image:url('masterplan.jpeg');
    }
   30%{
        background-image:url('ctevt.jpeg');
    }
    60%{
        background-image:url('ctevt1.jpeg');
    }
    100%{
        background-image:url('ctevt3.jpeg');
    }
}
    
.p{
    margin: top 300vh;
}

        
